html,
body {
    margin: 0;
    padding: 0;
}

#slider .item {
    width: 320px;
    height: 480px;
    margin: 0 8px;
    opacity: .4;
    transition: opacity .6s ease;
}

#slider .item>.img {
    position: relative;
}

#slider .item>.img::before,
#slider .item>.img::after {
    position: absolute;
    content: "";
    left: 0;
    height: 24px;
    width: 100%;
    background-color: #fff;
    transition: height .6s .6s ease;
}

#slider .item>.img::before {
    top: 0;
}

#slider .item>.img::after {
    bottom: 0;
}

#slider .item.slick-center,
#slider .item:hover {
    opacity: 1;
}

#slider .item.slick-center>.img::after,
#slider .item.slick-center>.img::before {
    height: 0;
}

#slider .item>.img>img {
    height: 100%;
    width: 100%;
}

#slider .item>h3 {
    text-align: center;
    opacity: 0;
    transition: opacity .6s .6s ease;
}

#slider .item.slick-center>h3 {
    opacity: 1;
}