#console .fakeScroll__content > section {
	margin: 64px 0;
}

/* About */

#console .about{
	color: #fff;
	margin: 32px 0;
	padding: 8px 20px 12px 36px;
	position: relative;
	text-align: left;
}

#console .about:first-of-type {
	margin-top: 0;
}

#console .about:last-of-type {
	margin-bottom: 0;
}

#console .about:nth-of-type(odd) {
	padding: 8px 38px 12px 20px;
	text-align: right;
}

#console .about::after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 4px;
}

#console .about:nth-of-type(odd)::after {
	right: 16px;
}

#console .about:nth-of-type(even)::after {
	left: 22px;
}

/* Definition */

#definition > #pronounce {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline;
	font-family: "Silkscreen", monospace;
	font-size: 1em;
	font-weight: normal;
	margin: 4px 0 0 0;
}

#definition > #pronounce > i {
	font-size: .7em;
	margin-right: 8px;
}

#definition > #pronounce > #a {
	display: inline-block;
	position: relative;
}

#definition > #pronounce > #a::after {
	bottom: calc(100% - 6px);
	content: "..";
	display: block;
	position: absolute;
	right: .6px;
}

#definition > #pronounce > #e {
	display: inline-block;
	transform: scale(-1, -1);
}

#definition > #description {
	margin-top: 8px;
}

/* Logo */

#logo > div{
	margin: 16px 0;
}

#logo > div:first-of-type{
	margin-top: 0;
}

#logo > div:last-of-type{
	margin-bottom: 0;
}

#logo > div > h3 + p {
	margin-top: 8px;
}

/* Member */

#member{
	text-align: center;
}

/* Project */

#project{
	text-align: center;
}

/* Say Hello */

#form{
	text-align: center;
}