#console .fakeScroll__content > section {
    margin: 64px 0;
}

/* About */

#console .about{
    color: #fff;
    position: relative;
    margin: 32px 0;
    text-align: left;
    padding: 8px 20px 12px 36px;
}

#console .about:first-of-type {
    margin-top: 0;
}

#console .about:last-of-type {
    margin-bottom: 0;
}

#console .about:nth-of-type(odd) {
    text-align: right;
    padding: 8px 38px 12px 20px;
}

#console .about::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
    background-color: #fff;
}

#console .about:nth-of-type(odd)::after {
    right: 16px;
}

#console .about:nth-of-type(even)::after {
    left: 22px;
}

/* Definition */

#definition > #pronounce {
    margin: 4px 0 0 0;
    border: none;
    background-color: transparent;
    font-family: "Silkscreen", monospace;
    font-size: 1em;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    display: inline;
}

#definition > #pronounce > i {
    font-size: .7em;
    margin-right: 8px;
}

#definition > #pronounce > #a {
    position: relative;
    display: inline-block;
}

#definition > #pronounce > #a::after {
    display: block;
    content: "..";
    position: absolute;
    bottom: calc(100% - 6px);
    right: .6px;
}

#definition > #pronounce > #e {
    transform: scale(-1, -1);
    display: inline-block;
}

#definition > #description {
    margin-top: 8px;
}

/* Logo */

#logo > div{
    margin: 16px 0;
}

#logo > div:first-of-type{
    margin-top: 0;
}

#logo > div:last-of-type{
    margin-bottom: 0;
}

#logo > div > h3 + p {
    margin-top: 8px;
}

/* Member */

#member{
    text-align: center;
}

/* Project */

#project{
    text-align: center;
}

/* Say Hello */

#form{
    text-align: center;
}