/* Definition */

h2{
    color: #0073aa;
    font-size: 2em;
    margin-bottom: 8px;
}

h3 {
    font-size: 1.5em;
}

#console section{
    color: #fff;
    position: relative;
}

#console section.right {
    text-align: right;
    padding: 8px 38px 12px 20px;
}

#console section.left {
    text-align: left;
    padding: 8px 20px 12px 36px;
}

#console section::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 4px;
    background-color: #fff;
    border-radius: 4px;
}

#console section.right::after {
    right: 16px;
}

#console section.left::after {
    left: 22px;
}

#definition > h3 > span {
    font-size: 0.6em;
    font-weight: normal;
}

#definition > #pronounce > #a {
    position: relative;
    display: inline-block;
}

#definition > #pronounce > #a::after {
    display: block;
    content: "..";
    position: absolute;
    bottom: calc(100% - 6px);
    right: .6px;
}

#definition > #pronounce > #e {
    transform: scale(-1, -1);
    display: inline-block;
}

#definition > #description {
    margin-top: 12px;
}

#logo{

}