/***********COLOR**PALLETE***********
 * Black      #23282d (35,40,45)    *
 * Dark Grey  #32373c (50,55,60)    *
 * Blue       #0073aa (0,115,170)   *
 * Light Grey #f1f1f1 (241,241,241) *
 * Red        #ca4a1f (202,74,31)   *
 * Console    #00a30a               *
 ************************************/

@font-face {
    font-family: "Armour";
    src: url("../text/Armour.ttf");
}

@font-face {
    font-family: "Hammersmith One";
    src: url("../text/HammersmithOne-Regular.ttf");
}

@font-face {
    font-family: "Silkscreen";
    src: url("../text/Slickscreen.ttf");
}

@font-face {
    font-family: "Droid Sans Mono";
    src: url("../text/DroidSansMono.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #32373c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
}

p {
    margin: 0;
}

.underline {
    position: relative;
}

a {
    text-decoration: none;
    color: #0073aa;
    margin: 0 4px;
}

a::before{
    content: "[";
    font-family: "Silkscreen", monospace;
    margin-right: 2px;
    transition: opacity .2s ease;
    opacity: 0;
}

a::after{
    content: "]";
    font-family: "Silkscreen", monospace;
    margin-left: 2px;
    transition: opacity .2s ease;
    opacity: 0;
}

a.active::before,
a.active::after,
a:hover::before,
a:hover::after{
    opacity: 1;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.underline.active:before,
.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Console */

#title {
    text-align: center;
    background-color: #f1f1f1;
    padding: 4px 0;
    font-family: "Hammersmith One";
    width: calc(100vw - 32px);
    margin: 16px auto 0;
    border-radius: 4px 4px 0 0;
    z-index: 100;
    position: relative;
}

#title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 28px;
    height: 12px;
    width: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fbc531;
}

#title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 48px;
    height: 12px;
    width: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #00a30a;
}

#console {
    background-color: #23282d;
    width: calc(100vw - 32px);
    height: calc(100vh - 60px);
    margin: 0 auto 16px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    position: relative;
    font-family: "Silkscreen", monospace;
}

#console::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ca4a1f;
    z-index: 101;
}

/* Header */

#header {
    color: #fff;
    padding: 8px 0;
}

#header>#logo {
    text-align: center;
    color: #374f64;
    font-family: "Droid Sans Mono", monospace;
    font-size: .5em;
}

#header>#logo>p>span {
    color: #d54143;
}

#header>#menu {
    text-align: center;
    margin: 10px 0 24px;
}

#header>h1 {
    font-size: 1.5em;
    font-weight: normal;
}

/* About */

#about {
    text-align: center;
    margin: 32px;
}

/* Footer */

#footer {
    padding: 8px 0;
    background-color: #23282d;
    color: #fff;
    text-align: center;
}

#footer>img{
    height: 32px;
    width: auto;
}

#footer > #social{
    text-align: center;
    margin: 24px 0;
}

#footer > #social > p{
    margin: 0 0 8px;
}

#footer > .small{
    font-size: .8em;
    text-align: center;
    margin: 8px 0 0;
}

#footer > p > i{
    font-size: .75em;
}

/* Fake Scroll */

.fakeScroll__track {
    right: 0;
    z-index: 1000;
    background-color: rgba(204, 204, 204, .5);
    padding: 2px;
    border-radius: 4px;
    width: 8px;
}

.fakeScroll__bar {
    background: #2f3640;
}

.fakeScroll__bar:hover {
    background: rgba(255, 255, 255, .55);
}

.fakeScroll__bar.fakeScroll--grabbed {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background: #f1f1f1;
}

/* Removing 000webhostapp Watermark */

body>div {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    position: fixed !important;
    left: -100% !important;
    bottom: -100% !important;
    overflow: hidden !important;
    z-index: -9999999 !important;
}